<html lang="en">
<title>home</title>
<h1>Hello {{ name }}</h1>
{% for item in data %}
    <h1>ID: {{ item.id }}</h1>
    <ol>
        <li> {{ item.title }}</li>
        <li> {{ item.description }}</li>
        <li> {{ item.id }}</li>
    </ol>
{% endfor %}
</html>